{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
<div class="container">
    <p class="h2 border-bottom">What is MeroLibrary?</p>
    <p class="lead">
        Mero Library is a digital platform that allows users to access 
        a wide range of books, publications, educational materials, and resources through the internet. 
        It serves as a virtual library providing various functionalities similar to a traditional physical library, 
        but with the advantage of digital access and flexibility.
    </p>
    <br>
    <p class="h2 border-bottom">
        Why choose us?
    </p>
    <p class="lead">
        •	To create a system management that would store the necessary information of the material owners and readers.
        •	To act as an intermediary between readers and authors or publishers.
        •	To study and analyze the requirement specifications of the online library system.	
        
        
    </p>
</div>
{% endblock body %}
